.contianer{
	width: 960px;
	margin: 0 auto;
}

.line{
	display: table;
    width: 100%;
    margin: 0 auto;
}
.square {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
    height: 2.5rem;
    width: 2.5rem;
}

.color {
	background-color: black;
}